@import "tailwindcss";
@import "../styles/core-roborate/core-roborate.css";

@theme inline {
  --color-background: var(--bg);
  --color-foreground: var(--ink);
  --font-sans: var(--font-hanken);
  --font-mono: var(--font-ibm-plex-mono);
}
